body{
  max-width:1500px;
  /*border:2px solid blue;*/
  margin: 0 auto;
}

h1{
  text-align: center;

}
h2{
  text-align: center;
  font-size: 18px;
  background-color: black;
  color:white;
}
li{
  border:2px solid black;
  margin: 5px;
  padding:8px;
  width:320px;
}
ul {
  list-style-type: none;
}


img{
  max-width: 100%;
}
  /*h3, img, p{
    border: 5px solid red;
    width:320px;
  }
  h3, p{

  }


  */
  /*****below is the web refarance to target spasific <li>******/
  /****https://stackoverflow.com/questions/19323974/targeting-first-2-children-or-last-2-children*****/
  /***for the first three child**/
/*  #grid-floats li:nth-child(-n + 3) {

      float:left;


  }
*/
/*************************************START FLOAT SECTION*********************/
#grid-floats li{
float:left;
}


/*here i put the flex section under the float section*/

#grid-floats{
  overflow: hidden;
}




#grid-floats li:nth-child(1) img{
  width:420px;
}

/*macking the grid and align a good way*/
/*target the first li from the float section*/
#grid-floats li:nth-child(1){
  width:45%;


}


/*#grid-float li:nth-child(4n+4){


  clear:both;
}*/
@media screen and (min-width:750px){

#grid-floats li:nth-child(4){
  clear:left;
}
#grid-floats li:nth-child(8){
  clear:left;
}
#grid-floats li:nth-child(12){
  clear:left;
}
#grid-floats li:nth-child(15){
  clear:left;
}


#grid-floats {
  width:100%;
}

}

/**************************END FLOAT SECTION***************************************/





/**************************START FLEX SECTION***************************************/

#grid-flex{


  display:flex;
/*  justify-content:space-between;*/
  flex-flow: wrap;

}




#grid-flex li:nth-child(1){
  width:45%;
}
#grid-flex li:nth-child(1) img{
  width:420px;
}
/**************************END FLEX SECTION***************************************/


@media screen and (max-width: 700px){

#grid-floats li:nth-child(2){width:40%;}
#grid-flex li:nth-child(2){width:40%;}


#grid-floats li:nth-child(1){width:44%;}
#grid-flex li:nth-child(1){width:44%;}

li:nth-child(n +2){
  width:25%;
}


#grid-floats li:nth-child(6){clear:both;}
#grid-floats li:nth-child(9){clear:both;}
#grid-floats li:nth-child(12){clear:both;}

/*

#grid-floats li:nth-child(4){clear:right;}
#grid-floats li:nth-child(8){clear:left;}
#grid-floats li:nth-child(10){clear:right;}

/*/


}







/**************************MEDIA QUARY Phone***********************************/
@media screen and (max-width:360px){

  #grid-floats li:nth-child(1){
    width:92%;
  }

   #grid-flex li:nth-child(1){
    width:92%;
  }


li:nth-child(n+2){
  width:35%;
}
#grid-floats li:nth-child(4){
  clear:left;
}
#grid-floats li:nth-child(6){
  clear:both;
}
#grid-floats li:nth-child(8){
  clear:both;
}
#grid-floats li:nth-child(10){
  clear:both;
}
#grid-floats li:nth-child(12){
  clear:both;
}

}
